.lead {
	margin: 56px auto 0 auto;
	max-width: 984px;
	background-color: #2a2c2f;
	font-size: 0;
}

@media screen and (max-width: 1024px) {
	.lead {
		margin-top: 48px;
		max-width: 928px;
	}
}

@media screen and (max-width: 768px) {
	.lead {
		max-width: 768px;
	}
}

@media screen and (max-width: 320px) {
	.lead {
		max-width: 320px;
		margin-top: 48px;
	}
}





