.lead {
    margin: 56px auto 0 auto;
    max-width: 984px;
    background-color: #2A2C2F;
    /*border: 1px solid green;*/
}

@media screen and (max-width: 1280px) {
    .lead {
        width: 984px;
    }
}
 @media screen and (max-width: 1024px) {
        .lead {
            width: 928px;
        }
    }
@media screen and (max-width: 768px) {
            .lead {
                width: 768px;
            }
        }

@media screen and (max-width: 320px) {
    .lead {
        width: 320px;
        margin-top: 48px;
    }
}





