.cover__overlay {
	margin: 0 auto;
	position: relative;
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	width: 100%;
	min-height: 62.5vw;
	text-decoration: none;
	background-image: url(../../../images/cover-trains.jpg);
	background-size: cover;
	background-position: center;
}

.cover__overlay::before {
	background-color: #2A2C2F;
	opacity: 0.3;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	min-height: 62.5vw;
}

.cover__overlay:hover::before {
	opacity: 0.8;
}

@media screen and (min-width: 1280px) {
	.cover__overlay {
		width: 1184px;
		min-height: 740px;
		margin: 0 auto;
	}
	.cover__overlay::before {
		width: 1184px;
		min-height: 740px;
		margin: 0 auto;
	}
	.cover__overlay:hover::before {
		width: 1184px;
		min-height: 740px;
		margin: 0 auto;
	}
}